# Ignore virtual environments
tfenv/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Dataset
data/

# Trained models
outputs/*.keras

# Python environment
tfenv/
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/